<head>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<script type="text/javascript">

  $(document).ready(function() {
    renderRegions();
    renderParties();
    renderExperience();
    renderStudies();
    renderSentence();
    renderAges();
    renderGenders();
    processCandidate();
  });

  const renderCandidatesData = async () => {

    const candidatesData = await fetch('/candidatesData')
        .then(res => res.json())
        .catch(error => console.log("ERROR"));

    if (candidatesData.length == 0) {
      $("#generate-here").append($("<p>", {text: "Ningún candidato encontrado!"}));
      return;
    }

    let $titleWrapper = $("<div>");
    let $titles = $("<div>", {"class": "row"});
    Object.keys(candidatesData[0]).forEach(key => $titles.append(getNewCol(key.substring(2))));
    $titleWrapper.append($titles);
    let $titleHrTag = $("<hr>");
    $titleWrapper.append($titleHrTag);
    $("#generate-here").append($titleWrapper);

    for (let i = 0; i < candidatesData.length; i++) {
      let dict = candidatesData[i]

      let $newWrapper = $("<div>");

      let $newRow = $("<div>", {"class": "row"});
      Object.keys(dict).forEach(key => $newRow.append(getNewCol(dict[key])))
      $newWrapper.append($newRow);

      let $newHrTag = $("<hr>");
      $newWrapper.append($newHrTag);

      $("#generate-here").append($newWrapper);
    }
  }

  function getNewCol(val) {
    let $newCol = $("<div>", {"class": "col-md-1"});
    let $newTag = (val.substring(0,4) == "http") ? $("<img>", {src: val, height: 50, width: 50}) : $("<p>", {text: val});
    $newCol.append($newTag);
    return $newCol;
  }

  const renderRegions = async () => {
    const regions = await fetch('/regions')
      .then(res => res.json())
      .catch(error => console.log("ERROR"));

    let $ddMRegions = $("#ddMRegions");
    regions.forEach(region => $ddMRegions.append(getNewDDIRegion(region)));
  }

  function getNewDDIRegion(val) {
    let $newDDI = $("<a>", {"class": "dropdown-item", href: "#", text: val});
    $newDDI.click((e) => {
      e.preventDefault();
      postRegion(val);
      console.log("Updating...");
      $('#generate-here').html('');
      renderCandidatesData();
    });
    return $newDDI;
  }

  const postRegion = async (val) => {
    fetch('/updateRegions', {
        method: 'POST',
        headers: new Headers({'content-type': 'application/json'}),
        body: JSON.stringify({val})
    }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
    }).then(function (text) {

    console.log('POST response: ');
    console.log(text);
    });
  }

  const renderParties = async () => {
    const parties = await fetch('/parties')
      .then(res => res.json())
      .catch(error => console.log("ERROR"));

    let partiesInclQueue = [];
    let partiesExclQueue = [];
    let $ddMPartiesIncl = $("#ddMPartiesIncl");
    let $ddMPartiesEcxl = $("#ddMPartiesExcl");
    parties.forEach(party => $ddMPartiesIncl.append(getNewDDIParty(partiesInclQueue, party)));
    parties.forEach(party => $ddMPartiesEcxl.append(getNewDDIParty(partiesExclQueue, party)));
    submitPartiesOnClick("#submitPartiesIncl", "/updatePartiesIncl", partiesInclQueue);
    submitPartiesOnClick("#submitPartiesExcl", "/updatePartiesExcl", partiesExclQueue);
  }

  function getNewDDIParty(queue, val) {
    let $newDDI = $("<a>", {"class": "dropdown-item", href: "#", text: val});
    $newDDI.click((e) => {
      e.preventDefault();
      queue.push(val);
      console.log("Added " + val + " to the queue!")
    })
    return $newDDI;
  }

  function submitPartiesOnClick(submitId, url, queue) {
    $(submitId).click((e) => {
      e.preventDefault();
      postParty(url, queue);
      console.log("Updating...");
      $('#generate-here').html('');
      renderCandidatesData();
    });
  }

  const postParty = async (url, val) => {
    fetch(url, {
        method: 'POST',
        headers: new Headers({'content-type': 'application/json'}),
        body: JSON.stringify({val})
    }).then(function (response) { // At this point, Flask has printed our JSON
        return response.text();
    }).then(function (text) {

    console.log('POST response: ');
    console.log(text);
    });
  }


function renderExperience() {
  $("#cbExperience").click((e) => {
    e.preventDefault();
    postExperience();
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
}

const postExperience = async () => {
  let val = "";
  fetch('/updateExperience', {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

const renderStudies = async () => {
  const studies = await fetch('/studies')
    .then(res => res.json())
    .catch(error => console.log("ERROR"));

  let $ddMStudies = $("#ddMStudies");
  studies.forEach(studyLevel => $ddMStudies.append(getNewDDIStudyLevel(studyLevel)));
}

function getNewDDIStudyLevel(val) {
  let $newDDI = $("<a>", {"class": "dropdown-item", href: "#", text: val});
  $newDDI.click((e) => {
    e.preventDefault();
    postStudyLevel(val);
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
  return $newDDI;
}

const postStudyLevel = async (val) => {
  fetch('/updateStudies', {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

function renderSentence() {
  $("#cbSentence").click((e) => {
    e.preventDefault();
    postSentence();
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
}

const postSentence = async () => {
  let val = "";
  fetch('/updateSentence', {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

const renderAges = async () => {
  const ages = Array(100 - 25 + 1).fill().map((_, idx) => 25 + idx);

  let $ddMAgeLower = $("#ddMAgeLower");
  let $ddMAgeUpper = $("#ddMAgeUpper");
  ages.forEach(age => $ddMAgeLower.append(getNewDDIAge("updateAgeLower", age)));
  ages.forEach(age => $ddMAgeUpper.append(getNewDDIAge("updateAgeUpper", age)));
}

function getNewDDIAge(url, val) {
  let $newDDI = $("<a>", {"class": "dropdown-item", href: "#", text: val});
  $newDDI.click((e) => {
    e.preventDefault();
    postAge(url, val);
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
  return $newDDI;
}

const postAge = async (url, val) => {
  fetch(url, {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

const renderGenders = async () => {
  const genders = ['Hombre', 'Mujer']

  let $ddMGenders = $("#ddMGenders");
  genders.forEach(gender => $ddMGenders.append(getNewDDIGender(gender)));
}

function getNewDDIGender(val) {
  let $newDDI = $("<a>", {"class": "dropdown-item", href: "#", text: val});
  $newDDI.click((e) => {
    e.preventDefault();
    postGender(val);
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
  return $newDDI;
}

const postGender = async (val) => {
  fetch('/updateGender', {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

function processCandidate() {
  $("#formCandidate").submit((e) => {
    e.preventDefault();
    let candidate = $("#inputCandidate").val()
    postCandidate(candidate);
    console.log("Updating...");
    $('#generate-here').html('');
    renderCandidatesData();
  });
}

const postCandidate = async (val) => {
  fetch('/updateCandidate', {
      method: 'POST',
      headers: new Headers({'content-type': 'application/json'}),
      body: JSON.stringify({val})
  }).then(function (response) { // At this point, Flask has printed our JSON
      return response.text();
  }).then(function (text) {

  console.log('POST response: ');
  console.log(text);
  });
}

</script>

<body>
  <div>
    <h1 class="text-center" id="title">Candidatos Filtrados</h1>

    <div class="container-fluid" id="dd-container">
      <div class="row">
        <div class="col-md-1">
          <div class="dropdown" id="ddRegions">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBRegions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Región
            </button>
            <div class="dropdown-menu" id="ddMRegions" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddPartiesIncl">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBPartiesIncl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partidos
            </button>
            <div class="dropdown-menu" id="ddMPartiesIncl" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary" id="submitPartiesIncl">Incluir</button>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddPartiesExcl">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBPartiesExcl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partidos
            </button>
            <div class="dropdown-menu" id="ddMPartiesExcl" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary" id="submitPartiesExcl">Excluir</button>
        </div>

        <div class="col-md-1">
          <div class="form-check" id="fcExperience">
            <input type="checkbox" class="form-check-input" id="cbExperience">
            <label class="form-check-label" id="cblblExperience" for="exampleCheck1">Experiencia Pol.</label>
          </div>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddStudies">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBStudies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Estudios
            </button>
            <div class="dropdown-menu" id="ddMStudies" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <div class="form-check" id="fcSentence">
            <input type="checkbox" class="form-check-input" id="cbSentence">
            <label class="form-check-label" id="cblblSentence" for="exampleCheck1">Sin Sentencias</label>
          </div>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddAgeLower">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBAgeLower" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edad Mín.
            </button>
            <div class="dropdown-menu" id="ddMAgeLower" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddAgeUpper">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBAgeUpper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edad Máx.
            </button>
            <div class="dropdown-menu" id="ddMAgeUpper" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <div class="dropdown" id="ddGenders">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBGenders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Género
            </button>
            <div class="dropdown-menu" id="ddMGenders" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="col-md-1">
          <form id="formCandidate" action="" method="GET">
            <input class="form-control" id="inputCandidate" type="text" placeholder="Default input">
            <button type="submit" class="btn btn-primary" id="submitCandidate">Submit</button>
          </form>
        </div>

      </div>
    </div>
    <br>

    <div class="container-fluid" id="generate-here">
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
