<head>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script type="text/javascript"
        src="{{ url_for('static', filename='renderData.js') }}"></script>
        <!-- Development version: -->
</head>

<body>
  <div>
    <h1 class="text-center" id="title">Filtrar Candidatos Elecciones Congresales 2020</h1>
    <br>

    <div id="containerFilterOptions">
      <div class="flexFilter">
        <div class="flexItem">
          <div class="dropdown" id="ddRegions">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBRegions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Región
            </button>
            <div class="dropdown-menu" id="ddMRegions" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <div class="dropdown d-inline-block" id="ddPartiesIncl">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBPartiesIncl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partidos
            </button>
            <div class="dropdown-menu" id="ddMPartiesIncl" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="submitPartiesIncl">Incluir</button>
        </div>

        <div class="flexItem">
          <div class="dropdown d-inline-block" id="ddPartiesExcl">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBPartiesExcl" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Partidos
            </button>
            <div class="dropdown-menu" id="ddMPartiesExcl" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
          <button type="button" class="btn btn-primary" id="submitPartiesExcl">Excluir</button>
        </div>

        <div class="flexItem">
          <div class="dropdown" id="ddStudies">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBStudies" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Estudios
            </button>
            <div class="dropdown-menu" id="ddMStudies" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <div class="dropdown" id="ddGenders">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBGenders" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Género
            </button>
            <div class="dropdown-menu" id="ddMGenders" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

      </div>

      <br>

      <div class="flexFilter">
        <div class="flexItem">
          <div class="dropdown" id="ddAgeLower">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBAgeLower" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edad Mín.
            </button>
            <div class="dropdown-menu" id="ddMAgeLower" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <div class="dropdown" id="ddAgeUpper">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBAgeUpper" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Edad Máx.
            </button>
            <div class="dropdown-menu" id="ddMAgeUpper" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <div class="dropdown" id="ddExperience">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBExperience" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Experiencia Política
            </button>
            <div class="dropdown-menu" id="ddMExperience" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <div class="dropdown" id="ddSentence">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="ddMBSentence" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sentencias
            </button>
            <div class="dropdown-menu" id="ddMSentence" aria-labelledby="dropdownMenuButton">
            </div>
          </div>
        </div>

        <div class="flexItem">
          <form class="input-group" id="formCandidate" action="" method="GET">
            <input class="form-control" id="inputCandidate" type="text" placeholder="Nombre Completo">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" id="submitCandidate">Buscar</button>
            </span>
          </form>
        </div>

      </div>

    </div>
    <br>

    <div class="container-fluid" id="containerFilterHistory">
      <div class="row" id="generate-filters">
      </div>
    </div>
    <br>

    <div class="flexUpdate">
      <button type="submit" class="btn btn-primary" id="submitUpdate">Actualizar</button>
    </div>
    <br>

    <div class="container-fluid" id="containerAmount">
      <div class="row" id="generate-amount">
      </div>
    </div>
    <br>

    <div class="container-fluid" id="generate-here">
    </div>
    <br>

    <div class="container-fluid" id="containerCurrpage">
      <div class="row" id="generate-currpage">
      </div>
    </div>
    <br>

    <div class="flexArrows" id="generate-arrows">
    </div>
    <br>

    <div class="flexSave" id="saveButtonContainer">
    </div>
    <br>

    <div class="container-fluid" id="generate-saved">
    </div>
    <br>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</body>
