.flexFilter {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flexArrows, .flexUpdate, .flexSave {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
